@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	--font-sans: 'Inter Variable', 'Inter', system-ui, sans-serif;
	
	/* Generated accent color palettes. */
	--color-accent-200: #b2c7ff;
	--color-accent-600: #3650f7;
	--color-accent-900: #192970;
	--color-accent-950: #141f4b;
	/* Generated gray color palettes. */
	--color-gray-100: #f5f6f8;
	--color-gray-200: #eceef2;
	--color-gray-300: #c0c2c7;
	--color-gray-400: #888b96;
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/
